<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
    <body>
        <div class="header-full" data-th-fragment="header" data-th-with="title=${title} ?: 'RPKI Admin UI'">
            <div class="header">
                <div class="header-inner">
                    <div id="sidebar-space" class="sidebar-space collapsed"></div>
                    <h1 id="h1-header" class="h1-header collapsed" data-th-text="${title}">RPKI Admin UI</h1>
                </div>
                <div class="header-inner">
                    <div 
                        class="header-environment-tag"
                        data-th-classappend="'tag-' + ${coreConfiguration.environment}" 
                        data-th-text="${coreConfiguration.environment}"
                        title="Environment"
                    >
                        environment
                    </div>
                    <i onclick="onUserIconClick()" class="drop-icon bi-person-circle"></i>
                </div>
            </div>

            <div class="dropdown">
                <div id="user-dropdown" class="hidden dropdown-content">
                    <ul>
                        <li>
                            <div class="bold list-item" data-th-if="${currentUser.name}" data-th-text="${currentUser.name}">unknown</div>
                        </li>
                        <li>
                            <div class="list-item" data-th-if="${currentUser.email}" data-th-text="${currentUser.email}">someone@example.com</div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="list-item" data-th-href="@{/logout}">Sign out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>