<!DOCTYPE html>
<html lang="en">
<head data-th-fragment="includes" data-th-with="title=${title} ?: 'RPKI Admin UI'" data-th-remove="tag">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>
    <base data-th-href="@{/}"/>
    <link rel="preload" data-th-href="@{/styles/main.css}" as="style"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="shortcut icon" href="data:image/x-icon;">

    <link rel="stylesheet" type="text/css" data-th-href="@{/styles/main.css}"/>
    <link rel="stylesheet" type="text/css" data-th-href="@{/styles/sidebar.css}"/>
    <link rel="stylesheet" type="text/css" data-th-href="@{/styles/header.css}"/>

    <script data-th-src="@{/js/sidebar-scripts.js}"></script>
    
    <title data-th-text="${title}">RPKI Admin UI</title>
</head>
<body>

</body>
</html>