<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div data-th-fragment="sidebar" id="sidebar" class="sidebar collapsed">
      <nav class="sidebar-links">
        <a data-th-href="@{/admin}" data-th-classappend="${active == 'admin' ? 'active' : ''}"><i  title="Admin Home" class="sidebar-menu-icon bi bi-house-door"></i><span>Admin Home</span></a>
        <a data-th-href="@{/admin/resource-cache}" data-th-classappend="${active == 'resource-cache' ? 'active' : ''}"><i title="Resource Cache" class="sidebar-menu-icon bi bi-database"></i><span>Resource Cache</span></a>
        <a data-th-href="@{/admin/production-ca-history}" data-th-classappend="${active == 'history' ? 'active' : ''}"><i title="CA Production History" class="sidebar-menu-icon bi bi-clock-history"></i><span>Production CA History</span></a>
        <a data-th-href="@{/admin/upstream-ca}" data-th-classappend="${active == 'upstream-ca' ? 'active' : ''}"><i title="Upstream CA Management" class="sidebar-menu-icon bi bi-diagram-2"></i><span>Upstream CA Management</span></a>
        <a data-th-href="@{/admin/health-check}" data-th-classappend="${active == 'health-check' ? 'active' : ''}"><i title="Health Check" class="sidebar-menu-icon bi bi-file-medical"></i><span>Health status</span></a>
      </nav>
      <aside class="footer">
        <div>
          <i data-th-attr="title=${gitProperties.branch} + '  [' + ${gitProperties.ref} + ']'" class="muted bi bi-git"></i>
          <span class="muted" data-th-text="${gitProperties.branch} + '  [' + ${gitProperties.ref} + ']'"></span>
        </div>
        <div>
          <i id="expand-nav-button" class="bi bi-arrow-right" onclick="handleNav()"></i>
        </div>
      </aside>
    </div>
</body>
</html>
