<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div data-th-fragment="sidebar" class="sidebar">
    <div class="sidebar-links">
      <a data-th-href="@{/admin}">Admin Home</a>
      <a data-th-href="@{/SystemStatusPage}"><s>System Status</s></a>
      <a data-th-href="@{/History}">Production CA History</a>
      <a data-th-href="@{/UpstreamCaManagementPage}">Upstream CA Management</a>
      <a data-th-href="@{/DeleteCAPage}">Delete CA</a>
      <a data-th-href="@{/provisioning-identity-details}">Provision</a>
      <a data-th-href="@{/monitoring/healthcheck}">Health status</a>
    </div>
  </div>
</body>
</html>
