#resourceFinder {
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border: 1px solid #CCC;
    width: 320px;
    min-height: 250px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#resourceFinderTitle {
    margin-bottom: 10px;
}

#resourceFinderTitle span {
    font-size: 1.2em;
    color: #666;
    font-weight: bold;
}

#searchBox {
    color: #666666;
    background-image: url(/certification/static/images/search.gif);
    background-repeat: none;
    padding-left: 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #CCCCCC;
    background-repeat: no-repeat;
    background-position: 2px 50%;
    width: 100px;
    margin-left: 20px;
}

#resourceContainerParent {
    height: 250px;
    overflow: auto;
}

ul.res-selections {
    padding: 4px 0 4px 4px;
    margin: 0;
    overflow: auto;
}

ul.res-selections li {
    list-style-type: none;
    float: left;
    margin: 1px 4px 1px 0;
}

ul.res-selections li.res-selection-item {
    color: #2b3840;
    font-size: 13px;
    font-family: "Lucida Grande", arial, sans-serif;
    text-shadow: 0 1px 1px #fff;
    background-color: #ddeefe;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddeefe),
        to(#bfe0f1) );
    border: 1px solid #acc3ec;
    border-top-color: #c0d9e9;
    padding: 2px 7px 2px 10px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    box-shadow: 0 1px 1px #e4edf2;
    -webkit-box-shadow: 0 1px 1px #e4edf2;
    -moz-box-shadow: 0 1px 1px #e4edf2;
}

ul.res-selections li.res-selection-item a.res-close {
    float: right;
    margin: 1px 0 0 7px;
    padding: 0 2px;
    cursor: pointer;
    color: #5491be;
    font-family: "Helvetica", helvetica, arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0 1px 1px #fff;
    -webkit-transition: color .1s ease-in;
}

#resourceForm {
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border: 1px solid #FFCC00;
    background-color: #FFFDDE;
    width: 380px;
    min-height: 250px;
    padding: 10px;
}

.hand {
    cursor: pointer;
}

#asnVisible {
    font-size: 1.4em;
    width: 150px;
    border: 1px solid #CCCCCC;
}

#nameVisible {
    font-size: 0.9em;
    width: 90%;
    margin-top: 5px;
    border: 1px solid #CCCCCC;
}

#dropAreaParent {
    overflow: auto;
    margin-top: 15px;
    border: 1px dashed #666;
    background-color: #EEE;
    padding: 10px;
}

#dropArea {
    height: 150px;
}

.dragHere {
    font-size: 2em;
    color: #CCC;
}

.maxLength {
    margin-left: 5px;
    color: #666666;
    background-image: url(/certification/static/images/maxlength.gif);
    background-repeat: none;
    padding-left: 20px;
    outline: none;
    border: 1px solid #CCCCCC;
    background-repeat: no-repeat;
    background-position: 2px 50%;
    width: 50px;
}

.dateCell {
    padding-top: 15px;
    font-size: 0.9em;
    color: #333;
}

.dateCell input {
    width: 100px;
}

.hint {
    color: #CCC;
}

.fieldError {
    border: 1px solid #BE2E17 !important;
}