<!DOCTYPE html>
<html lang="en" >
  <head>
    <div data-th-replace="~{fragments/includes :: includes(title='RPKI Admin UI | History')}"></div>
    <script data-th-src="@{/js/table-scripts.js}"></script>
  </head>
  <body>
    <div data-th-replace="~{fragments/header :: header(title='Production CA History')}"></div>
    <div class="main-flex">
      <div data-th-replace="~{fragments/sidebar :: sidebar(active='history')}"></div>
      <div class="main">
        <div class="message-banner" data-th-if="${success}">
          <i class="bi bi-check-circle"></i>
          <span data-th-text="${success}">success messages</span>
        </div>
        <div class="message-banner" data-th-if="${error}">
          <i class="bi bi-x-circle"></i>
          <span data-th-text="${error}">error messages</span>
        </div>

        <table id="history-table" class="history-table">
          <thead>
            <tr>
              <th colspan="3" class="search-row">
                <input type="text" id="searchInput" onkeyup="searchSummary()" placeholder="Search summary..">
              </th>
            </tr>
          </thead>
          <thead>
          <tr>
            <th class="col-1"><div class="history-table-header">Date and Time (UTC)<i class="bi bi-sort-down-alt" onclick="sortTable(0)"></i></div></th>
            <th class="col-2"><div class="history-table-header">User<i class="bi bi-sort-down-alt" onclick="sortTable(1)"></i></div></th>
            <th class="col-3">
                <div class="history-table-header">
                  Summary
                  <i class="bi bi-sort-down-alt" onclick="sortTable(2)"></i>
                </div>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr data-th-each="history: ${historySummary}">
            <td data-th-text="${#temporals.format(history.time,'yyyy-MM-dd HH:mm:ss')}">Some time</td>
            <td data-th-text="${history.principal}">system</td>
            <td>
              <div class="summary-content">
                <div data-th-id="'summary-full-' + ${historyStat.index}" class="summary-full hide-text-more-than-one-line" data-th-text="${history.summary}">
                  Summary full
                </div>
                <i data-th-id="'expand-icon-' + ${historyStat.index}"  data-th-onclick="'javascript:handleExtend(' + ${historyStat.index} + ')'" class="expand-icon bi bi-chevron-down"></i>
              </div>
            </td>
          </tr>
          </tbody>
          <tr id="no-results" class="hidden">
            <td colspan="3">No results found</td>
          </tr>
        </table>

        <div class="table-navigation">
          <button class="hidden" onclick="prevPage()" id="btn_prev">Prev</button>
          <span id="page"></span>
          <button class="hidden" onclick="nextPage()" id="btn_next">Next</button>
        </div>
      </div>
    </div>
  </body>
</html>
