<!DOCTYPE html>
<html lang="en">
    <head><div data-th-replace="~{fragments/includes :: includes(title='RPKI Admin UI | Management')}"></div></head>

<body>
<div data-th-replace="~{fragments/header :: header(title='Upstream CA Management')}"></div>
<div class="main-flex">
    <div data-th-replace="~{fragments/sidebar :: sidebar(active='upstream-ca')}"></div>
    <div class="main">
        <div class="message-banner" data-th-if="${success}">
            <i class="bi bi-check-circle"></i>
            <span data-th-text="${success}">success messages</span>
        </div>
        <div class="message-banner" data-th-if="${error}">
            <i class="bi bi-x-circle"></i>
            <span data-th-text="${error}">error messages</span>
        </div>
        <!-- Upstream sign request flow -->
        <div data-th-switch="${requestHandling}">
            <table class="ca-management-table"  data-th-case="'create-request'">
                <tr>
                    <td>Generate signing request</td>
                    <td>
                        <form method="POST" data-th-action="@{admin/create-sign-request}">
                            <button type="submit">Run</button>
                        </form>
                    </td>
                </tr>
            </table>
            <table  class="ca-management-table" data-th-case="'download-request'">
                <tr>
                    <td>Download signing request: <code><span data-th-text="${requestFileName}"></span></code></td>
                    <td>
                        <a data-th-href="@{admin/download-sign-request}">Download</a>
                    </td>
                </tr>
                <tr>
                    <td>Upload signing response:</td>
                    <td>
                        <form method="POST" data-th-action="@{admin/upload-sign-response}"
                              enctype="multipart/form-data">
                            <input type="file" name="response" accept="application/xml" class="form-control-file">
                            <button type="submit" class="btn btn-primary">Upload</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>

        <!-- All resource CA key management -->
        <div data-th-switch="${acaKeyStatus}">
            <table class="ca-management-table" data-th-case="'old'">
                <tr>
                    <td>Revoke old all resource CA key:</td>
                    <td>
                        <form method="POST" data-th-action="@{admin/revoke-old-aca-key}">
                            <button type="submit" class="btn btn-primary">Run</button>
                        </form>
                    </td>
                </tr>
            </table>
            <table class="ca-management-table" data-th-case="'pending'">
                <tr>
                    <td>Activate pending All resource CA key:</td>
                    <td>
                        <form method="POST" data-th-action="@{admin/activate-pending-aca-key}">
                            <button type="submit" class="btn btn-primary">Run</button>
                        </form>
                    </td>
                </tr>
            </table>
            <table class="ca-management-table" data-th-case="'current'">
                <tr>
                    <td>Initiate key roll-over for All resource CA:</td>
                    <td>
                        <form method="POST" data-th-action="@{admin/initiate-rolling-aca-key}">
                            <button type="submit" class="btn btn-primary">Run</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>
</body>
</html>
