body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p:last-child {
    margin-top: 0px;
}

body a {
    color: #080037;
}

body a:hover {
    color: #ff9600;
}

body table {
    border-collapse: collapse;
    width: 100%;
}

body table:not(:last-child) {
    margin-bottom: 16px;
}

body table td,
body table th {
    border: 1px solid #ddd;
    padding: 8px;
}

body table tr:nth-child(even) {
    background-color: #f2f2f2;
}

body table tr:hover {
    background-color: #ddd;
}

.history-table {
    width: 100%;
    overflow: scroll;
}

.history-table .col-1 {
    width: 20%;
}

.history-table .col-2 {
    width: 15%;
}

.history-table .col-3 {
    width: 65%;
    overflow: scroll;
}

.history-table td {
    vertical-align: top;
}

.history-table-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #080037;
    color: #fff;
}

thead i {
    cursor: pointer;
}

body button {
    color: #fff;
    background-color: #080037;
    cursor: pointer;
}

.action-button {
    min-width: 80px;
}

.grid {
    display: flex;
    flex-direction: column;
}

.main-flex {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.table-navigation {
    float: right;
}

ul {
    list-style-type: none;
    padding: 0;
}

.divider {
    width: 100%;
    border-top: solid 1px #ff9600;
    margin: 8px 0px 16px;
}

.list-item {
    padding: 0px 16px 16px;
}

.dropdown-content a {
    text-decoration: none;
}

.main {
    margin: 16px;
    width: 100%;
}

.bold {
    font-weight: bold;
}

.message-banner {
    display: grid;
    grid-template-columns: 32px auto;
    align-items: center;
    color: #fff;
    background-color: #080037;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 16px;
    padding: 16px;
}

.message-banner i {
    font-size: 24px;
}

.summary-content {
    display: grid;
    grid-template-columns: auto 16px;
    align-items: start;
}

.expand-icon {
    cursor: pointer;
    font-size: 16px;
}

.summary-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.summary-full {
    padding: 2px;
}

.hide-text-more-than-one-line {
    height: 1em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#searchInput {
    float: right;
}

.hidden,
.hidden-for-pagination {
    display: none;
}

.transform {
    transform: rotate(0.5turn);
}

.orange {
    color: #ff9600;
}

.ca-management-table td:first-child {
    width: 60%;
}

.ca-management-table {
    margin-bottom: 8px;
}

.tag {
    padding: 4px 8px;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 12px;
}

.tag-warning {
    background-color: #ffcc00;
    color: #fff;
}

.tag-ok {
    background-color: #339900;
    color: #fff;
}

.tag-error {
    background-color: #cc3300;
    color: #fff;
}

.footer-link {
    color: #fff;
    text-decoration: none;
}

fieldset {
    padding: 10px 12px;
}

.verification-code {
    color: #ff9600;
    border: 1px solid #ff9600;
    padding: 2px 4px;
}

.force-button {
    background-color: #ff9600;
    color: #080037;
}