#portal-header input {
  margin:0px;
  padding;0px;
  vertical-align: baseline;
}
#portal-header .searchButton {
  margin-left:6px;
}
#portal-header ul {
  margin:0px;
}
#loggedUser form {
  margin:0px;
  height:18px;
}
#loggedUser select {
  margin:0px;
  height:18px;
  width:109px;
  padding:0px;
  color: black;
}
#loggedUser select a {
   font-size: 11px;
}