
.dataTables_wrapper {
    position: relative;
    zoom: 1; /* Feeling sorry for IE */
}

.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 30px;
    margin-left: -125px;
    margin-top: -15px;
    padding: 14px 0 2px 0;
    border: 1px solid #ddd;
    text-align: center;
    color: #999;
    font-size: 14px;
    background-color: white;
}

.dataTables_length {
    width: 40%;
    float: left;
}

.dataTables_filter {
    width: 20%;
    margin-left: 80%;
    position: relative;
    text-align: right;
    padding-bottom: 10px;
}

.dataTables_info {
    width: 60%;
    float: left;
    font-size: smaller;
}




/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */

.sorting_asc {
    background: url('../images/sort_asc.png') no-repeat center right;
    cursor:pointer;
}

.sorting_desc {
    background: url('../images/sort_desc.png') no-repeat center right;
    cursor:pointer;
}

.sorting {
    background: url('../images/sort_both.png') no-repeat center right;
    cursor:pointer;
}

.sorting_asc_disabled {
    background: url('../images/sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
    background: url('../images/sort_desc_disabled.png') no-repeat center right;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Anchor button style
 */

/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */

a.ovalbutton{
background: transparent url('../images/oval-gray-left.gif') no-repeat top left;
display: block;
float: left;
font: normal 13px Tahoma; /* Change 13px as desired */
line-height: 16px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 24px) */
height: 24px; /* Height of button background height */
padding-left: 11px; /* Width of left menu image */
text-decoration: none;
}

a:link.ovalbutton, a:visited.ovalbutton, a:active.ovalbutton{
color: #494949; /*button text color*/
}

a.ovalbutton span{
background: transparent url('../images/oval-gray-right.gif') no-repeat top right;
display: block;
padding: 4px 11px 4px 0; /*Set 11px below to match value of 'padding-left' value above*/
}

a.ovalbutton:hover{ /* Hover state CSS */
background-position: bottom left;
}

a.ovalbutton:hover span{ /* Hover state CSS */
background-position: bottom right;
color: black;
}

.buttonwrapper{ /* Container you can use to surround a CSS button to clear float */
overflow: hidden; /*See: http://www.quirksmode.org/css/clearing.html */
width: 100%;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Form styles
 */

.required
{
background-image:url(../images/required-field.png);
background-position:top right;
background-repeat:no-repeat;
padding-right:7px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * FORM ERROR FEEDBACK STYLING
 */

.portalFormTable {
	text-align : left;
	border-spacing:6px
}

.portalFormTable td {
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	padding:3px;
}

.portalFormTable .feedbackPanel {
    color:red;
    display : inline;
    padding:0;
    margin:0;
}

.portalFormTable .feedbackPanel li {
    display : inline;
    list-style-type:none;
}

.portalFormTable .feedbackList .feedbackPanel {
    color:red;
    display : block;
}

.portalFormTable .feedbackList .feedbackPanel li {
    list-style-type:none;
    display : list-item;
}

#external textarea {
	font-size:100%;
	font-family:Helvetica,Arial,FreeSans;
}

#external table th {
	padding:4px;
}

#external table td {
	padding:4px;
}


#external input[type="checkbox"] {
  margin: 4px;
}
