/*
	Main 
*/
#external {
	padding: 1em;
}
#loggedUser {
	text-align:right;
	background-color:#FFF;
	font-size:1.2em;
	padding:5px;
	padding-right:13px;
}
#portalLeftMenu {
	float:left;
}

#portalContent {
	margin-left:250px;
	padding-right: 24px;
	min-height:500px;
}

.portalLabel {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -sand-transform: rotate(90deg);
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    transform-origin: 100% 0;
    display: none;
    position: fixed;
    top: 60px;
    right: 36px;
    height: 36px;
    border-top: 2px solid #FFF;
}

.portalLabel a {
    font-size: 14px;
    padding: 10px 16px !important;
    cursor: pointer;
    font-weight: 500;
    color: #FFF !important;
    position: relative ! important;
}

.portalLabel i {
    text-indent: 0px ! important;
}

.portalLabel a:hover {
    text-decoration: none !important;
}

#takeTheTourLabel {
    top: 395px;
    padding: 10px 10px 0px !important;
    background: #CC333F;
}

#takeTheTourLabel:hover {
    border-top: 2px solid #CC333F;
}

#apiLabel {
    top: 502px;
    padding: 10px 10px 0px !important;
    background: #EB6841;
}
#apiLabel:hover {
    border-top: 2px solid #EB6841;
}

#livechatLabel {
    top: 285px;
    padding: 10px 0px 0px !important;
    background: #00A0B0;
}
#livechatLabel:hover {
    border-top: 2px solid #00A0B0;
}

#portalLeftMenu dt {
	cursor:pointer;
}
#portalContent h1 {
	margin:0;
	font-size: 2.4em;
	color:#005895;
}
/*
	Layout styles
*/
.left {
	float:left!important;
}
.right {
	float:right!important;
}
.clear {
	clear: both;
    height: 1px;
	overflow: hidden;
}
.inline {
	display:inline;
}
.tablecell {
	display:table-cell;
}
.hidden {
	display:none;
}

/*
	Text styles
*/
.justified {
	text-align:justify;
}
.centered {
	text-align:center;
}
.alignLeft {
	text-align:left;
}
.alignRight {
	text-align:right;
}
.nowrap {
	white-space: nowrap;
}
.subtitle {
	font-size:1.3em;
 	font-weight:bold;
	color:#005895;
	padding-bottom:1em;
}

a, a:visited {
  color: #0069d6;
  text-decoration: none;
  line-height: inherit;
  font-weight: inherit;
}
a:hover {
  color: #00438a;
  text-decoration: underline;
}

/*
	Quickreference at bottom of page
*/
.quickref {
	background-color:#EAEDF4;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
	padding-top:1px;
	color:#666;
}
.quickref h3 {
	color:#005895;
}

#payment-due .notice {
	border: 1px solid #f1d276;
	color: #a37f11;
	background: #f6e1a4;
	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background-size: 100%;
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#f8e9bb),color-stop(100%,#f6e1a4));
	background-image: -webkit-linear-gradient(top,#f8e9bb,#f6e1a4);
	background-image: -moz-linear-gradient(top,#f8e9bb,#f6e1a4);
	background-image: -o-linear-gradient(top,#f8e9bb,#f6e1a4);
	background-image: linear-gradient(top,#f8e9bb,#f6e1a4);
	-webkit-box-shadow: 0 1px 2px #f9edc9 inset,0 1px 1px #dfdfdf;
	-moz-box-shadow: 0 1px 2px #f9edc9 inset,0 1px 1px #dfdfdf;
	box-shadow: 0 1px 2px #f9edc9 inset,0 1px 1px #dfdfdf;
	padding: 15px;
	margin-bottom: 20px;
	border-radius: 4px;
}

#payment-due .notice h3,
#payment-due .notice p {
	margin: 1em 0 0.5em;
}
.hand {
	cursor:pointer;
}

/*
	Wicket feedback
*/
.feedbackPanel {
	padding:0;
	margin:0;
	margin-left:0!important;
}
.feedbackPanel li {
	list-style-type:none;
	color:#FF6319;
} 

.fieldset {
	margin-top:2em;
}

.fieldset .fieldsetTitle {
	background-color: #EAEDF4;
	padding:1em;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.fieldset .fieldsetTitle.highlited {
	background-color: #FFEFC6;
	background-image: -webkit-gradient(linear,left 50,right 50,color-stop(0.16, rgb(234,237,244)),color-stop(0.63, rgb(255,239,198)));
	background-image: -moz-linear-gradient(left center,rgb(234,237,244) 16%,rgb(255,239,198) 63%);
}

.fieldset .fieldsetTitle .extrainfo {
	color:#005895;
	font-size:0.9em;
}

.fieldset .fieldsetTitle a {
	font-weight:bold;
}

.fieldset .fieldsetBody {
	padding:1em;
	border:1px solid #EAEDF4;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

